<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- INTERNET chỉ dùng để gửi DS Cert (base64) lên endpoint xác thực của RAR/Bộ Công an -->

    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="false"
        android:label="CCCD Reader"
        android:theme="@style/Theme.CccdReader"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Cho phép app tự bật lên khi user chạm thẻ NFC dù đang ở ngoài app -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>

        <activity
            android:name=".qr.QrScanActivity"
            android:exported="false" />

    </application>

</manifest>
